# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
poke = {'evolution': ['Ivy', 'Charmeleon', 'Wart', 'Meta'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulb', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

poke

{'evolution': ['Ivy', 'Charmeleon', 'Wart', 'Meta'],
 'hp': [45, 39, 44, 45],
 'name': ['Bulb', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called

In [5]:
poke_df = pd.DataFrame(data=poke)
poke_df

    evolution  hp        name pokedex   type
0         Ivy  45        Bulb     yes  grass
1  Charmeleon  39  Charmander      no   fire
2        Wart  44    Squirtle     yes  water
3        Meta  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [11]:
poke_df = pd.DataFrame(data=poke, columns=['name', 'type', 'hp', 'evolution', 'pokedex'])


# Also this

poke_df = poke_df[['pokedex', 'evolution', 'hp', 'type', 'name']]
poke_df

  pokedex   evolution  hp   type        name
0     yes         Ivy  45  grass        Bulb
1      no  Charmeleon  39   fire  Charmander
2     yes        Wart  44  water    Squirtle
3      no        Meta  45    bug    Caterpie

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
place = ['shrub', 'mountain', 'lake', 'forest']

poke_df['place'] = place

poke_df

         name   type  hp   evolution pokedex     place
0        Bulb  grass  45         Ivy     yes     shrub
1  Charmander   fire  39  Charmeleon      no  mountain
2    Squirtle  water  44        Wart     yes      lake
3    Caterpie    bug  45        Meta      no    forest

### Step 6. Present the type of each column

In [10]:
poke_df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.