# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

users = pd.read_csv(url, delimiter='|', index_col='user_id')

users[:5]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [3]:
users.groupby(by='occupation').age.mean()

# same as

# users[['occupation', 'age']].groupby('occupation').mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [4]:
users.head()

gender_occupation = users[['occupation', 'gender']]

male_workers = gender_occupation['gender'] == 'M'

female_workers = gender_occupation['gender'] == 'F'

gender_occupation = gender_occupation.assign(male = male_workers)

gender_occupation = gender_occupation.assign(female = female_workers)

In [5]:
gender_occupation

for value in gender_occupation['female']:
    if value == True:
        value = 1
    elif value == False:
        value = 0
        
# This is all wrong

In [6]:
def gender_to_value(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
gender_occupation = users[['occupation', 'gender']]

gender_occupation['gender_value'] = gender_occupation['gender'].apply(gender_to_value)

gender_ratio = gender_occupation.groupby('occupation').gender_value.sum() / gender_occupation.occupation.value_counts() * 100

gender_ratio.sort_values(ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

In [7]:
# Above was so wrong. I should re-do that

### Step 6. For each occupation, calculate the minimum and maximum ages

In [15]:
# tech_test = users[users['occupation'] == 'technician'][['age', 'occupation']]

# tech_test.age.max()

# occupation_age_range = users.groupby('occupation').age.max()

# occupation_age_range.to_frame(name='age_range')

occupation_age_range = pd.DataFrame(data=users.groupby('occupation').age.max())

occupation_age_range.columns = ['max age']

occupation_age_range.add(users.groupby('occupation').age.min(), axis='columns')

occupation_age_range

# occupation_age_range.append(users.groupby('occupation').age.min())

# users.groupby('occupation').age.max()

# occupation_age_range

# I struggled with the append piece

               max age
occupation
administrator       70
artist              48
doctor              64
educator            63
engineer            70
entertainment       50
executive           69
healthcare          62
homemaker           50
lawyer              53
librarian           69
marketing           55
none                55
other               64
programmer          63
retired             73
salesman            66
scientist           55
student             42
technician          55
writer              60

In [21]:
# Rofl, just use the agg function

users.age.agg

users.groupby('occupation').age.agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [24]:
users.groupby(['occupation', 'gender']).age.agg(['min', 'max'])[:5]

                      min  max
occupation    gender
administrator F        22   62
              M        21   70
artist        F        19   48
              M        20   45
doctor        M        28   64

### Step 8.  For each occupation present the percentage of women and men

In [43]:
occupation_gender = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

occupation_gender

occu_count = users.groupby(['occupation']).agg('count')

occu_count

gender_rate = occupation_gender.div(occu_count, level = 'occupation') * 100

gender_rate['gender']

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64