# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

users = pd.read_csv(url, delimiter='|', index_col='user_id')

users[:5]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [10]:
users.groupby(by='occupation').age.mean()

# same as

# users[['occupation', 'age']].groupby('occupation').mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [28]:
users.head()

gender_occupation = users[['occupation', 'gender']]

male_workers = gender_occupation['gender'] == 'M'

female_workers = gender_occupation['gender'] == 'F'

gender_occupation = gender_occupation.assign(male = male_workers)

gender_occupation = gender_occupation.assign(female = female_workers)

In [34]:
gender_occupation

for value in gender_occupation['female']:
    if value == True:
        value = 1
    elif value == False:
        value = 0
        
# This is all wrong

In [48]:
def gender_to_value(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
gender_occupation = users[['occupation', 'gender']]

gender_occupation['gender_value'] = gender_occupation['gender'].apply(gender_to_value)

gender_ratio = gender_occupation.groupby('occupation').gender_value.sum() / gender_occupation.occupation.value_counts() * 100

gender_ratio.sort_values(ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

In [ ]:
# Above was so wrong. I should re-do that

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men