# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
loc = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'

funds_df = pd.read_csv(loc)

funds_df[:5]

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [29]:
funds_df.sample(n=3)

funds_df.info()

funds_df.Date.unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
Date               44 non-null object
Total Equity       44 non-null int64
Domestic Equity    44 non-null int64
World Equity       44 non-null int64
Hybrid             44 non-null int64
Total Bond         44 non-null int64
Taxable Bond       44 non-null int64
Municipal Bond     44 non-null int64
Total              44 non-null int64
dtypes: int64(8), object(1)
memory usage: 3.2+ KB

<bound method Series.unique of 0     2012-12-05
1     2012-12-12
2     2012-12-19
3     2012-12-26
4     2013-01-02
5     2013-01-09
6     2014-04-02
7     2014-04-09
8     2014-04-16
9     2014-04-23
10    2014-04-30
11    2014-05-07
12    2014-05-14
13    2014-05-21
14    2014-05-28
15    2014-06-04
16    2014-06-11
17    2014-06-18
18    2014-06-25
19    2014-07-02
20    2014-07-09
21    2014-07-30
22    2014-08-06
23    2014-08-13
24    2014-08-20
25    2014-08-27
26    2014-09-03
27    2014-09-10
28    2014-11-05
29    2014-11-12
30    2014-11-19
31    2014-11-25
32    2015-01-07
33    2015-01-14
34    2015-01-21
35    2015-01-28
36    2015-02-04
37    2015-02-11
38    2015-03-04
39    2015-03-11
40    2015-03-18
41    2015-03-25
42    2015-04-01
43    2015-04-08
Name: Date, dtype: object>

### Step 5. Set the column Date as the index.

In [32]:
%timeit funds_df.reindex(index=funds_df.Date)

%timeit funds_df.set_index('Date')

# More efficient to set_index

funds_df.set_index('Date', inplace=True)

667 µs ± 28.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
503 µs ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [33]:
funds_df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 6. What is the type of the index?

In [40]:
funds_df.info()

funds_df.index.dtype

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 2012-12-05 to 2015-04-08
Data columns (total 8 columns):
Total Equity       44 non-null int64
Domestic Equity    44 non-null int64
World Equity       44 non-null int64
Hybrid             44 non-null int64
Total Bond         44 non-null int64
Taxable Bond       44 non-null int64
Municipal Bond     44 non-null int64
Total              44 non-null int64
dtypes: int64(8)
memory usage: 4.3+ KB

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [49]:
funds_df.index.to_datetime()

%timeit funds_df.index = pd.to_datetime(funds_df.index)

funds_df.index.dtype

type(funds_df.index)

16.2 µs ± 844 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

pandas.core.indexes.datetimes.DatetimeIndex

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [52]:
funds_month = funds_df.resample('M').mean()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [55]:
funds_month.dropna(inplace=True)

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [58]:
funds_year = funds_month.resample('A').mean()

funds_year

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-6539.000000,-5781.500000,-757.750000,131.500000,2462.000000,3153.250000,-691.250000,-3945.500000
2013-12-31,1830.500000,-813.500000,2644.000000,1365.000000,6074.500000,4707.000000,1367.500000,9270.000000
2014-12-31,-248.419048,-1971.569048,1723.233333,752.552381,2309.907143,1727.728571,582.154762,2813.938095
2015-12-31,1308.500000,-723.625000,2032.125000,625.125000,2221.875000,1621.437500,600.375000,4155.500000

### BONUS: Create your own question and answer it.