# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv(url, sep='\t')

In [3]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [ ]:
chipo.describe(include = 'all')

chipo['item_price'] = chipo.item_price.str.replace('$', '').astype('float')

chipo[:5]

chipo.info(verbose=False)

chipo.dtypes

In [7]:
# Could also do the following
prices = [float(value[1: -1]) for value in chipo.item_price]

chipo.item_price = prices

chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [ ]:
chipo[:3]

In [10]:
price_check = chipo['item_price'] > 10

chipo_prices = chipo[price_check]
chipo_prices.item_name

len(chipo_prices.item_name)

# chipo_prices.groupby(by='item_name')

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
chipo_items = chipo[['item_name', 'item_price']]

chipo_items.head(5)

# I did non unique, they wanted to see distinct items, so do something like

chipo_unique_items = chipo.drop_duplicates(['item_name', 'item_price'])

chipo_item_prices = chipo_unique_items['quantity'] == 1

chipo_distinct_prices = chipo_unique_items[chipo_item_prices]

chipo_distinct_prices.sort_values(by = 'item_price', ascending = False)[:5]

,order_id,quantity,item_name,choice_description,item_price
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
93,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacam...",11.75
1008,413,1,Carnitas Crispy Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",11.75

### Step 6. Sort by the name of the item

In [36]:
chipo_items.sort_values('item_name', ascending=True)[:5]

# or 

chipo_items.item_name.sort_values()[:5]

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [37]:
chipo_prices[['quantity', 'item_name', 'item_price']].sort_values('item_price', ascending=False)[:1]

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [40]:
veggie_items = chipo.item_name.str.contains('Veggie')

chipo[veggie_items]['item_name'].unique()

veggie_salad = chipo['item_name'] == 'Veggie Salad Bowl'

chipo[veggie_salad]['quantity'].aggregate(sum)

# So, this was correct. But just a really long way of doing it.

chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']

len(chipo_salad)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [41]:
chipo[:5]

soda_more_than_one = chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1]

soda_more_than_one.shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

(20, 5)