# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [2]:
data = pd.read_csv('wind.data', sep='\s+', parse_dates=[[0, 1, 2]])

In [3]:
data.info()
data.describe()
data.shape

data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
Yr_Mo_Dy    6574 non-null datetime64[ns]
RPT         6568 non-null float64
VAL         6571 non-null float64
ROS         6572 non-null float64
KIL         6569 non-null float64
SHA         6572 non-null float64
BIR         6574 non-null float64
DUB         6571 non-null float64
CLA         6572 non-null float64
MUL         6571 non-null float64
CLO         6573 non-null float64
BEL         6574 non-null float64
MAL         6570 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [4]:
# data.astype({'Yr': 'date'})
# Would have worked but should use to datetime

# pd.to_datetime()


# What I should be doing is handling this in the DataFrame creation via parse_date

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
data.Yr_Mo_Dy[:1]

0   2061-01-01
Name: Yr_Mo_Dy, dtype: datetime64[ns]

In [6]:
# Needed datetime module
# My crack at it
def fix_year(x):
    
    if x.year > 1989:
        year = x.year - 100
    else:
        year = x.year
    
    return datetime.date(year, x.month, x.day)

In [7]:
# The abbreviated form
def fix_century(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)

In [8]:
%timeit data.Yr_Mo_Dy.apply(fix_century)

%timeit data.Yr_Mo_Dy.apply(fix_year)

# Kind of tomato, tomato but mine is more verbose

36.4 ms ± 215 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
36.7 ms ± 559 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
data.Yr_Mo_Dy = data.Yr_Mo_Dy.apply(fix_year)

data[-5:]

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [10]:
data['Yr_Mo_Dy'] = data.Yr_Mo_Dy.astype('datetime64[ns]')
data.Yr_Mo_Dy.dtypes
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [11]:
# Could have also done
pd.to_datetime(data['Yr_Mo_Dy'])

0      1961-01-01
1      1961-01-02
2      1961-01-03
3      1961-01-04
4      1961-01-05
5      1961-01-06
6      1961-01-07
7      1961-01-08
8      1961-01-09
9      1961-01-10
10     1961-01-11
11     1961-01-12
12     1961-01-13
13     1961-01-14
14     1961-01-15
15     1961-01-16
16     1961-01-17
17     1961-01-18
18     1961-01-19
19     1961-01-20
20     1961-01-21
21     1961-01-22
22     1961-01-23
23     1961-01-24
24     1961-01-25
25     1961-01-26
26     1961-01-27
27     1961-01-28
28     1961-01-29
29     1961-01-30
          ...
6544   1978-12-02
6545   1978-12-03
6546   1978-12-04
6547   1978-12-05
6548   1978-12-06
6549   1978-12-07
6550   1978-12-08
6551   1978-12-09
6552   1978-12-10
6553   1978-12-11
6554   1978-12-12
6555   1978-12-13
6556   1978-12-14
6557   1978-12-15
6558   1978-12-16
6559   1978-12-17
6560   1978-12-18
6561   1978-12-19
6562   1978-12-20
6563   1978-12-21
6564   1978-12-22
6565   1978-12-23
6566   1978-12-24
6567   1978-12-25
6568   1978-12-26
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [12]:
data.set_index('Yr_Mo_Dy', inplace=True)

data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [13]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [14]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [15]:
# I must not understand the question. Solution was:
data.shape[1] - data.isnull().sum()

RPT     6
VAL     9
ROS    10
KIL     7
SHA    10
BIR    12
DUB     9
CLA    10
MUL     9
CLO    11
BEL    12
MAL     8
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [16]:
data.mean(skipna=True)

# They wanted everything so,

data.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [17]:
loc_stats = data.describe()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

In [18]:
# Provided solution was excessive, but for kicks

loc_statz = pd.DataFrame()

loc_statz['Max'] = data.max()
loc_statz['Min'] = data.min()
loc_statz['Std'] = data.std()
loc_statz['Mean'] = data.mean()

loc_statz

       Max   Min       Std       Mean
RPT  35.80  0.67  5.618413  12.362987
VAL  33.37  0.21  5.267356  10.644314
ROS  33.84  1.50  5.008450  11.660526
KIL  28.46  0.00  3.605811   6.306468
SHA  37.54  0.13  4.936125  10.455834
BIR  26.16  0.00  3.968683   7.092254
DUB  30.37  0.00  4.977555   9.797343
CLA  31.08  0.00  4.499449   8.495053
MUL  25.88  0.00  4.166872   8.493590
CLO  28.21  0.04  4.503954   8.707332
BEL  42.38  0.13  5.835037  13.121007
MAL  42.54  0.67  6.699794  15.599079

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [19]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [20]:
# data.groupby('Yr_Mo_Dy', axis=0, squeeze=True).mean() not quite doing what I want

day_stats = pd.DataFrame()

day_stats['Max'] = data.max(axis = 1)
day_stats['Min'] = data.min(axis = 1)
day_stats['Mean'] = data.mean(axis = 1)


day_stats[:5]

              Max   Min       Mean
Yr_Mo_Dy
1961-01-01  18.50  9.29  13.018182
1961-01-02  17.54  6.50  11.336364
1961-01-03  18.50  6.17  11.641818
1961-01-04  11.75  1.79   6.619167
1961-01-05  13.33  6.17  10.630000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [24]:
# The provided solution
data['date'] = data.index

data['Month'] = data['date'].apply(lambda date: date.month)
data['Year'] = data['date'].apply(lambda date: date.year)
data['Day'] = data['date'].apply(lambda date: date.day)

%timeit jan = data['Month'] == 1

%timeit jan_wind = data.query('Month == 1')
# Why they use query method?

149 µs ± 9.69 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
1.98 ms ± 49.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
jan_wind # It does stick it in a dataframe which is kinda useful

jan
data[jan]

# But if this is what you want you could just do this
data[data['Month'] == 1]

data[jan].mean()


# But it doesn't address the year part...

RPT        14.847325
VAL        12.914560
ROS        13.299624
KIL         7.199498
SHA        11.667734
BIR         8.054839
DUB        11.819355
CLA         9.512047
MUL         9.543208
CLO        10.053566
BEL        14.550520
MAL        18.028763
Month       1.000000
Year     1969.500000
Day        16.000000
dtype: float64

In [ ]:
# jan_years = data.all(data.index.month & (data.index.year > 1960 and data.index.year < 1963))

criteria = [data.index.month == 1, [data.index.year > 1960 and data.index.year < 1963]]

# jan_years

type(criteria)
criteria[0]

# Struggled with the multiple element criteria in a single array

In [27]:
# Regardless this would have been much faster

data[data.index.month == 1].mean()

RPT        14.847325
VAL        12.914560
ROS        13.299624
KIL         7.199498
SHA        11.667734
BIR         8.054839
DUB        11.819355
CLA         9.512047
MUL         9.543208
CLO        10.053566
BEL        14.550520
MAL        18.028763
Month       1.000000
Year     1969.500000
Day        16.000000
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [40]:
# I thought this
data.resample('1A').mean()

data.columns
# They thought this
data.query('Month == 1 and Day == 1')

# But feels like this isn't right?

data[data.Month == 1]

# Yeah that's definitely wrong, they just grabbed the first value of the year

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,Month,Year,Day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1,1962,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1,1963,1
1964-01-01,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00,1964-01-01,1,1964,1
1965-01-01,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41,1965-01-01,1,1965,1
1966-01-01,22.04,21.50,17.08,12.75,22.17,15.59,21.79,18.12,16.66,17.83,28.33,23.79,1966-01-01,1,1966,1
1967-01-01,6.46,4.46,6.50,3.21,6.67,3.79,11.38,3.83,7.71,9.08,10.67,20.91,1967-01-01,1,1967,1
1968-01-01,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29,1968-01-01,1,1968,1
1969-01-01,6.13,1.63,5.41,1.08,2.54,1.00,8.50,2.42,4.58,6.34,9.17,16.71,1969-01-01,1,1969,1
1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00,1970-01-01,1,1970,1
1971-01-01,3.71,0.79,4.71,0.17,1.42,1.04,4.63,0.75,1.54,1.08,4.21,9.54,1971-01-01,1,1971,1
1972-01-01,9.29,3.63,14.54,4.25,6.75,4.42,13.00,5.33,10.04,8.54,8.71,19.17,1972-01-01,1,1972,1
1973-01-01,16.50,15.92,14.62,7.41,8.29,11.21,13.54,7.79,10.46,10.79,13.37,9.71,1973-01-01,1,1973,1
1974-01-01,23.21,16.54,16.08,9.75,15.83,11.46,9.54,13.54,13.83,16.66,17.21,25.29,1974-01-01,1,1974,1
1975-01-01,14.04,13.54,11.29,5.46,12.58,5.58,8.12,8.96,9.29,5.17,7.71,11.63,1975-01-01,1,1975,1
1976-01-01,18.34,17.67,14.83,8.00,16.62,10.13,13.17,9.04,13.13,5.75,11.38,14.96,1976-01-01,1,1976,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1,1977,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1,1978,1

### Step 13. Downsample the record to a monthly frequency for each location.

In [44]:
data.resample('1M').mean()

# Could also use the query method but I don't think that's right

data.query('Day == 1')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,Month,Year,Day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1961-02-01,14.25,15.12,9.04,5.88,12.08,7.17,10.17,3.63,6.50,5.50,9.17,8.00,1961-02-01,2,1961,1
1961-03-01,12.67,13.13,11.79,6.42,9.79,8.54,10.25,13.29,NaN,12.21,20.62,NaN,1961-03-01,3,1961,1
1961-04-01,8.38,6.34,8.33,6.75,9.33,9.54,11.67,8.21,11.21,6.46,11.96,7.17,1961-04-01,4,1961,1
1961-05-01,15.87,13.88,15.37,9.79,13.46,10.17,9.96,14.04,9.75,9.92,18.63,11.12,1961-05-01,5,1961,1
1961-06-01,15.92,9.59,12.04,8.79,11.54,6.04,9.75,8.29,9.33,10.34,10.67,12.12,1961-06-01,6,1961,1
1961-07-01,7.21,6.83,7.71,4.42,8.46,4.79,6.71,6.00,5.79,7.96,6.96,8.71,1961-07-01,7,1961,1
1961-08-01,9.59,5.09,5.54,4.63,8.29,5.25,4.21,5.25,5.37,5.41,8.38,9.08,1961-08-01,8,1961,1
1961-09-01,5.58,1.13,4.96,3.04,4.25,2.25,4.63,2.71,3.67,6.00,4.79,5.41,1961-09-01,9,1961,1
1961-10-01,14.25,12.87,7.87,8.00,13.00,7.75,5.83,9.00,7.08,5.29,11.79,4.04,1961-10-01,10,1961,1
1961-11-01,13.21,13.13,14.33,8.54,12.17,10.21,13.08,12.17,10.92,13.54,20.17,20.04,1961-11-01,11,1961,1
1961-12-01,9.67,7.75,8.00,3.96,6.00,2.75,7.25,2.50,5.58,5.58,7.79,11.17,1961-12-01,12,1961,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1,1962,1
1962-02-01,19.12,13.96,12.21,10.58,15.71,10.63,15.71,11.08,13.17,12.62,17.67,22.71,1962-02-01,2,1962,1
1962-03-01,8.21,4.83,9.00,4.83,6.00,2.21,7.96,1.87,4.08,3.92,4.08,5.41,1962-03-01,3,1962,1
1962-04-01,14.33,12.25,11.87,10.37,14.92,11.00,19.79,11.67,14.09,15.46,16.62,23.58,1962-04-01,4,1962,1
1962-05-01,9.62,9.54,3.58,3.33,8.75,3.75,2.25,2.58,1.67,2.37,7.29,3.25,1962-05-01,5,1962,1
1962-06-01,5.88,6.29,8.67,5.21,5.00,4.25,5.91,5.41,4.79,9.25,5.25,10.71,1962-06-01,6,1962,1
1962-07-01,8.67,4.17,6.92,6.71,8.17,5.66,11.17,9.38,8.75,11.12,10.25,17.08,1962-07-01,7,1962,1
1962-08-01,4.58,5.37,6.04,2.29,7.87,3.71,4.46,2.58,4.00,4.79,7.21,7.46,1962-08-01,8,1962,1
1962-09-01,10.00,12.08,10.96,9.25,9.29,7.62,7.41,8.75,7.67,9.62,14.58,11.92,1962-09-01,9,1962,1
1962-10-01,14.58,7.83,19.21,10.08,11.54,8.38,13.29,10.63,8.21,12.92,18.05,18.12,1962-10-01,10,1962,1
1962-11-01,16.88,13.25,16.00,8.96,13.46,11.46,10.46,10.17,10.37,13.21,14.83,15.16,1962-11-01,11,1962,1
1962-12-01,18.38,15.41,11.75,6.79,12.21,8.04,8.42,10.83,5.66,9.08,11.50,11.50,1962-12-01,12,1962,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1,1963,1
1963-02-01,15.41,7.62,24.67,11.42,9.21,8.17,14.04,7.54,7.54,10.08,10.17,17.67,1963-02-01,2,1963,1
1963-03-01,16.75,19.67,17.67,8.87,19.08,15.37,16.21,14.29,11.29,9.21,19.92,19.79,1963-03-01,3,1963,1
1963-04-01,10.54,9.59,12.46,7.33,9.46,9.59,11.79,11.87,9.79,10.71,13.37,18.21,1963-04-01,4,1963,1
1963-05-01,18.79,14.17,13.59,11.63,14.17,11.96,14.46,12.46,12.87,13.96,15.29,21.62,1963-05-01,5,1963,1
1963-06-01,13.37,6.87,12.00,8.50,10.04,9.42,10.92,12.96,11.79,11.04,10.92,13.67,1963-06-01,6,1963,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976-07-01,8.50,1.75,6.58,2.13,2.75,2.21,5.37,2.04,5.88,4.50,4.96,10.63,1976-07-01,7,1976,1
1976-08-01,13.00,8.38,8.63,5.83,12.92,8.25,13.00,9.42,10.58,11.34,14.21,20.25,1976-08-01,8,1976,1
1976-09-01,11.87,11.00,7.38,6.87,7.75,8.33,10.34,6.46,10.17,9.29,12.75,19.55,1976-09-01,9,1976,1
1976-10-01,10.96,6.71,10.41,4.63,7.58,5.04,5.04,5.54,6.50,3.92,6.79,5.00,1976-10-01,10,1976,1
1976-11-01,13.96,15.67,10.29,6.46,12.79,9.08,10.00,9.67,10.21,11.63,23.09,21.96,1976-11-01,11,1976,1
1976-12-01,13.46,16.42,9.21,4.54,10.75,8.67,10.88,4.83,8.79,5.91,8.83,13.67,1976-12-01,12,1976,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1,1977,1
1977-02-01,11.83,9.71,11.00,4.25,8.58,8.71,6.17,5.66,8.29,7.58,11.71,16.50,1977-02-01,2,1977,1
1977-03-01,8.63,14.83,10.29,3.75,6.63,8.79,5.00,8.12,7.87,6.42,13.54,13.67,1977-03-01,3,1977,1
1977-04-01,21.67,16.00,17.33,13.59,20.83,15.96,25.62,17.62,19.41,20.67,24.37,30.09,1977-04-01,4,1977,1
1977-05-01,6.42,7.12,8.67,3.58,4.58,4.00,6.75,6.13,3.33,4.50,19.21,12.38,1977-05-01,5,1977,1
1977-06-01,7.08,5.25,9.71,2.83,2.21,3.50,5.29,1.42,2.00,0.92,5.21,5.63,1977-06-01,6,1977,1
1977-07-01,15.41,16.29,17.08,6.25,11.83,11.83,12.29,10.58,10.41,7.21,17.37,7.83,1977-07-01,7,1977,1
1977-08-01,4.33,2.96,4.42,2.33,0.96,1.08,4.96,1.87,2.33,2.04,10.50,9.83,1977-08-01,8,1977,1
1977-09-01,17.37,16.33,16.83,8.58,14.46,11.83,15.09,13.92,13.29,13.88,23.29,25.17,1977-09-01,9,1977,1
1977-10-01,16.75,15.34,12.25,9.42,16.38,11.38,18.50,13.92,14.09,14.46,22.34,29.67,1977-10-01,10,1977,1
1977-11-01,16.71,11.54,12.17,4.17,8.54,7.17,11.12,6.46,8.25,6.21,11.04,15.63,1977-11-01,11,1977,1
1977-12-01,13.37,10.92,12.42,2.37,5.79,6.13,8.96,7.38,6.29,5.71,8.54,12.42,1977-12-01,12,1977,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1,1978,1
1978-02-01,27.25,24.21,18.16,17.46,27.54,18.05,20.96,25.04,20.04,17.50,27.71,21.12,1978-02-01,2,1978,1
1978-03-01,15.04,6.21,16.04,7.87,6.42,6.67,12.29,8.00,10.58,9.33,5.41,17.00,1978-03-01,3,1978,1
1978-04-01,3.42,7.58,2.71,1.38,3.46,2.08,2.67,4.75,4.83,1.67,7.33,13.67,1978-04-01,4,1978,1
1978-05-01,10.54,12.21,9.08,5.29,11.00,10.08,11.17,13.75,11.87,11.79,12.87,27.16,1978-05-01,5,1978,1
1978-06-01,10.37,11.42,6.46,6.04,11.25,7.50,6.46,5.96,7.79,5.46,5.50,10.41,1978-06-01,6,1978,1
1978-07-01,12.46,10.63,11.17,6.75,12.92,9.04,12.42,9.62,12.08,8.04,14.04,16.17,1978-07-01,7,1978,1
1978-08-01,19.33,15.09,20.17,8.83,12.62,10.41,9.33,12.33,9.50,9.92,15.75,18.00,1978-08-01,8,1978,1
1978-09-01,8.42,6.13,9.87,5.25,3.21,5.71,7.25,3.50,7.33,6.50,7.62,15.96,1978-09-01,9,1978,1
1978-10-01,9.50,6.83,10.50,3.88,6.13,4.58,4.21,6.50,6.38,6.54,10.63,14.09,1978-10-01,10,1978,1
1978-11-01,13.59,16.75,11.25,7.08,11.04,8.33,8.17,11.29,10.75,11.25,23.13,25.00,1978-11-01,11,1978,1
1978-12-01,21.29,16.29,24.04,12.79,18.21,19.29,21.54,17.21,16.71,17.83,17.75,25.70,1978-12-01,12,1978,1

### Step 14. Downsample the record to a weekly frequency for each location.

In [47]:
data.resample('1W').mean()

# They used a slice of every 7 rows

data[::7].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,Month,Year,Day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1961-01-08,1,1961,8
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75,1961-01-15,1,1961,15
1961-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92,1961-01-22,1,1961,22
1961-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38,1961-01-29,1,1961,29

# Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [48]:
# I already did this with the resample.mean()

data.resample('1M').mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Month,Year,Day
Yr_Mo_Dy,,,,,,,,,,,,,,,
1961-01-31,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226,1.0,1961.0,16.0
1961-02-28,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,2.0,1961.0,14.5
1961-03-31,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000,3.0,1961.0,16.0
1961-04-30,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333,4.0,1961.0,15.5
1961-05-31,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613,5.0,1961.0,16.0

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [53]:
# data.resample('1W').describe() This wasn't quite right and threw an error

data_weekly = data.resample('1W').mean() # Creates the weekly average downsample

data_weekly_summary = pd.DataFrame()

data_weekly_summary['Max'] = data_weekly.max(axis=1)
data_weekly_summary['Min'] = data_weekly.min(axis=1)
data_weekly_summary['Avg'] = data_weekly.mean(axis=1)
data_weekly_summary['Std'] = data_weekly.std(axis=1)

data_weekly_summary[:5]

data_weekly_summary.shape

(940, 4)

In [58]:
# They had a slicker way of doing it
data_weeklyz = data.resample('W').agg(['max', 'min', 'mean', 'std']) #slam all them into one method that runs functions

data_weeklyz.head()
# This creates a hierarchy underneath locations

# Not clear if they wanted for each location or all locations in general

# This is a slick slicing property
data_weeklyz.ix[1:52, 'RPT': 'MAL'].head()

# Ohhh but .ix is deprecated, they want you to pick loc or iloc

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

              RPT                                VAL                   \
              max    min       mean       std    max   min       mean
Yr_Mo_Dy
1961-01-08  18.50  10.58  13.541429  2.631321  16.88  6.63  11.486667
1961-01-15  19.75   9.04  12.468571  3.555392  12.08  3.54   8.967143
1961-01-22  19.83   4.92  13.204286  5.337402  14.37  3.42   9.862857
1961-01-29  25.04  13.62  19.880000  4.619061  23.91  9.96  16.141429
1961-02-05  24.21  10.58  16.827143  5.251408  24.21  9.46  15.460000

                        ROS           ...           CLO              BEL  \
                 std    max    min    ...          mean       std    max
Yr_Mo_Dy                              ...
1961-01-08  3.949525  12.33   7.62    ...      8.497143  1.704941  17.54
1961-01-15  3.148945  19.50   7.08    ...      7.571429  4.084293  20.71
1961-01-22  3.837785  20.79   7.29    ...      8.124286  4.783952  15.92
1961-01-29  5.170224  25.84  12.67    ...     15.640000  3.713368  27.71
1961-02-05  5.187395  19.70   9.04    ...      9.460000  2.839501  19.33

                                          MAL
              min       mean       std    max    min       mean       std
Yr_Mo_Dy
1961-01-08   5.46  12.481429  4.349139  16.46  10.88  13.238571  1.773062
1961-01-15   5.25  11.125714  5.552215  16.92   5.17  11.024286  4.692355
1961-01-22   6.50   9.821429  3.626584  17.96   6.79  11.434286  4.237239
1961-01-29  14.04  20.930000  5.210726  27.63  17.50  22.530000  3.874721
1961-02-05   9.17  14.012857  4.210858  19.25   7.17  11.935714  4.336104

[5 rows x 48 columns]