# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [2]:
data = pd.read_csv('wind.data', sep='\s+', parse_dates=[[0, 1, 2]])

In [3]:
data.info()
data.describe()
data.shape

data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
Yr_Mo_Dy    6574 non-null datetime64[ns]
RPT         6568 non-null float64
VAL         6571 non-null float64
ROS         6572 non-null float64
KIL         6569 non-null float64
SHA         6572 non-null float64
BIR         6574 non-null float64
DUB         6571 non-null float64
CLA         6572 non-null float64
MUL         6571 non-null float64
CLO         6573 non-null float64
BEL         6574 non-null float64
MAL         6570 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [4]:
# data.astype({'Yr': 'date'})
# Would have worked but should use to datetime

# pd.to_datetime()


# What I should be doing is handling this in the DataFrame creation via parse_date

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
data.Yr_Mo_Dy[:1]

0   2061-01-01
Name: Yr_Mo_Dy, dtype: datetime64[ns]

In [6]:
# Needed datetime module
# My crack at it
def fix_year(x):
    
    if x.year > 1989:
        year = x.year - 100
    else:
        year = x.year
    
    return datetime.date(year, x.month, x.day)

In [7]:
# The abbreviated form
def fix_century(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)

In [8]:
%timeit data.Yr_Mo_Dy.apply(fix_century)

%timeit data.Yr_Mo_Dy.apply(fix_year)

# Kind of tomato, tomato but mine is more verbose

34.7 ms ± 277 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
34.6 ms ± 201 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
data.Yr_Mo_Dy = data.Yr_Mo_Dy.apply(fix_year)

data[-5:]

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [10]:
data['Yr_Mo_Dy'] = data.Yr_Mo_Dy.astype('datetime64[ns]')
data.Yr_Mo_Dy.dtypes
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [11]:
# Could have also done
pd.to_datetime(data['Yr_Mo_Dy'])

0      1961-01-01
1      1961-01-02
2      1961-01-03
3      1961-01-04
4      1961-01-05
5      1961-01-06
6      1961-01-07
7      1961-01-08
8      1961-01-09
9      1961-01-10
10     1961-01-11
11     1961-01-12
12     1961-01-13
13     1961-01-14
14     1961-01-15
15     1961-01-16
16     1961-01-17
17     1961-01-18
18     1961-01-19
19     1961-01-20
20     1961-01-21
21     1961-01-22
22     1961-01-23
23     1961-01-24
24     1961-01-25
25     1961-01-26
26     1961-01-27
27     1961-01-28
28     1961-01-29
29     1961-01-30
          ...
6544   1978-12-02
6545   1978-12-03
6546   1978-12-04
6547   1978-12-05
6548   1978-12-06
6549   1978-12-07
6550   1978-12-08
6551   1978-12-09
6552   1978-12-10
6553   1978-12-11
6554   1978-12-12
6555   1978-12-13
6556   1978-12-14
6557   1978-12-15
6558   1978-12-16
6559   1978-12-17
6560   1978-12-18
6561   1978-12-19
6562   1978-12-20
6563   1978-12-21
6564   1978-12-22
6565   1978-12-23
6566   1978-12-24
6567   1978-12-25
6568   1978-12-26
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [12]:
data.set_index('Yr_Mo_Dy', inplace=True)

data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [13]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [14]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [15]:
# I must not understand the question. Solution was:
data.shape[1] - data.isnull().sum()

RPT     6
VAL     9
ROS    10
KIL     7
SHA    10
BIR    12
DUB     9
CLA    10
MUL     9
CLO    11
BEL    12
MAL     8
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [16]:
data.mean(skipna=True)

# They wanted everything so,

data.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [17]:
loc_stats = data.describe()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

In [18]:
# Provided solution was excessive, but for kicks

loc_statz = pd.DataFrame()

loc_statz['Max'] = data.max()
loc_statz['Min'] = data.min()
loc_statz['Std'] = data.std()
loc_statz['Mean'] = data.mean()

loc_statz

       Max   Min       Std       Mean
RPT  35.80  0.67  5.618413  12.362987
VAL  33.37  0.21  5.267356  10.644314
ROS  33.84  1.50  5.008450  11.660526
KIL  28.46  0.00  3.605811   6.306468
SHA  37.54  0.13  4.936125  10.455834
BIR  26.16  0.00  3.968683   7.092254
DUB  30.37  0.00  4.977555   9.797343
CLA  31.08  0.00  4.499449   8.495053
MUL  25.88  0.00  4.166872   8.493590
CLO  28.21  0.04  4.503954   8.707332
BEL  42.38  0.13  5.835037  13.121007
MAL  42.54  0.67  6.699794  15.599079

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [19]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [20]:
# data.groupby('Yr_Mo_Dy', axis=0, squeeze=True).mean() not quite doing what I want

day_stats = pd.DataFrame()

day_stats['Max'] = data.max(axis = 1)
day_stats['Min'] = data.min(axis = 1)
day_stats['Mean'] = data.mean(axis = 1)


day_stats[:5]

              Max   Min       Mean
Yr_Mo_Dy
1961-01-01  18.50  9.29  13.018182
1961-01-02  17.54  6.50  11.336364
1961-01-03  18.50  6.17  11.641818
1961-01-04  11.75  1.79   6.619167
1961-01-05  13.33  6.17  10.630000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [35]:
# The provided solution
data['date'] = data.index

data['Month'] = data['date'].apply(lambda date: date.month)
data['Year'] = data['date'].apply(lambda date: date.year)
data['Day'] = data['date'].apply(lambda date: date.day)

%timeit jan = data['Month'] == 1

%timeit jan_wind = data.query('Month == 1')
# Why they use query method?

KeyboardInterrupt:

In [34]:
jan_wind # It does stick it in a dataframe which is kinda useful

jan
data[jan]

# But if this is what you want you could just do this
data[data['Month'] == 1]

data[jan].mean()


# But it doesn't address the year part...

RPT        14.847325
VAL        12.914560
ROS        13.299624
KIL         7.199498
SHA        11.667734
BIR         8.054839
DUB        11.819355
CLA         9.512047
MUL         9.543208
CLO        10.053566
BEL        14.550520
MAL        18.028763
Month       1.000000
Year     1969.500000
Day        16.000000
dtype: float64

In [ ]:
# jan_years = data.all(data.index.month & (data.index.year > 1960 and data.index.year < 1963))

criteria = [data.index.month == 1, [data.index.year > 1960 and data.index.year < 1963]]

# jan_years

type(criteria)
criteria[0]

# Struggled with the multiple element criteria in a single array

In [27]:
# Regardless this would have been much faster

data[data.index.month == 1].mean()

RPT      14.847325
VAL      12.914560
ROS      13.299624
KIL       7.199498
SHA      11.667734
BIR       8.054839
DUB      11.819355
CLA       9.512047
MUL       9.543208
CLO      10.053566
BEL      14.550520
MAL      18.028763
Month     1.000000
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [38]:
# I thought this
data.resample('1A').mean()

# They thought this
data.query('month == 1 and day == 1')

UndefinedVariableError: name 'month' is not defined

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.