# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

In [15]:
cars2.head()
cars1.head()

cars1.columns

cars1['Unnamed: 9'][:1]

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [19]:
cars1.drop(['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

In [20]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [23]:
cars1.shape
cars1.info()
cars1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

,mpg,cylinders,displacement,weight,acceleration,model,origin
count,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
mean,19.719697,5.898990,223.469697,3177.888889,15.005556,72.818182,1.439394
std,5.814254,1.785417,115.181017,934.783733,2.872382,1.865332,0.708085
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,15.000000,4.000000,113.250000,2302.500000,13.000000,71.000000,1.000000
50%,19.000000,6.000000,228.000000,3030.000000,15.000000,73.000000,1.000000
75%,24.375000,8.000000,318.000000,4080.750000,16.800000,74.000000,2.000000
max,35.000000,8.000000,455.000000,5140.000000,23.500000,76.000000,3.000000

In [24]:
cars2.shape
cars2.info()
cars2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

,mpg,cylinders,displacement,weight,acceleration,model,origin
count,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,27.271500,5.015000,163.685000,2765.03500,16.125000,79.170000,1.705000
std,7.739012,1.491947,82.273266,693.12173,2.525324,1.912955,0.867026
min,13.000000,3.000000,70.000000,1755.00000,11.100000,76.000000,1.000000
25%,20.200000,4.000000,98.000000,2148.75000,14.500000,78.000000,1.000000
50%,27.200000,4.000000,135.000000,2667.50000,15.800000,79.000000,1.000000
75%,33.125000,6.000000,225.000000,3266.25000,17.600000,81.000000,3.000000
max,46.600000,8.000000,400.000000,4380.00000,24.800000,82.000000,3.000000

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [28]:
cars = cars1.add(cars2, axis='index')

cars[:5]

cars.shape

(200, 9)

In [30]:
cars = cars1 + cars2

cars.shape

(200, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### Step 8. Add the column owners to cars