# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

In [3]:
cars2.head()
cars1.head()

cars1.columns

cars1['Unnamed: 9'][:1]

0   NaN
Name: Unnamed: 9, dtype: float64

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.loc[:, "mpg": "car"].columns
cols_to_remove = cars1.loc[:, "Unnamed: 9":].columns
list(cols_to_remove)

['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']

In [23]:
cars1.drop(cols_to_remove, axis=1, inplace=True)

In [24]:
cars1.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [ ]:
# Also could have done this
# As a way of saying, return a slice of this
# That is just what we want
cars1.loc[:, "mpg": "car"]

In [ ]:
# Tried this first, but it's verbose
cars1.drop(['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

In [ ]:
cars1.head()

### Step 5. What is the number of observations in each dataset?

In [6]:
cars1.shape
cars1.info()
cars1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
Unnamed: 9      0 non-null float64
Unnamed: 10     0 non-null float64
Unnamed: 11     0 non-null float64
Unnamed: 12     0 non-null float64
Unnamed: 13     0 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.7+ KB

,mpg,cylinders,displacement,weight,acceleration,model,origin,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,0.0,0.0,0.0,0.0,0.0
mean,19.719697,5.898990,223.469697,3177.888889,15.005556,72.818182,1.439394,NaN,NaN,NaN,NaN,NaN
std,5.814254,1.785417,115.181017,934.783733,2.872382,1.865332,0.708085,NaN,NaN,NaN,NaN,NaN
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,15.000000,4.000000,113.250000,2302.500000,13.000000,71.000000,1.000000,NaN,NaN,NaN,NaN,NaN
50%,19.000000,6.000000,228.000000,3030.000000,15.000000,73.000000,1.000000,NaN,NaN,NaN,NaN,NaN
75%,24.375000,8.000000,318.000000,4080.750000,16.800000,74.000000,2.000000,NaN,NaN,NaN,NaN,NaN
max,35.000000,8.000000,455.000000,5140.000000,23.500000,76.000000,3.000000,NaN,NaN,NaN,NaN,NaN

In [7]:
cars2.shape
cars2.info()
cars2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

,mpg,cylinders,displacement,weight,acceleration,model,origin
count,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,27.271500,5.015000,163.685000,2765.03500,16.125000,79.170000,1.705000
std,7.739012,1.491947,82.273266,693.12173,2.525324,1.912955,0.867026
min,13.000000,3.000000,70.000000,1755.00000,11.100000,76.000000,1.000000
25%,20.200000,4.000000,98.000000,2148.75000,14.500000,78.000000,1.000000
50%,27.200000,4.000000,135.000000,2667.50000,15.800000,79.000000,1.000000
75%,33.125000,6.000000,225.000000,3266.25000,17.600000,81.000000,3.000000
max,46.600000,8.000000,400.000000,4380.00000,24.800000,82.000000,3.000000

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = cars1.add(cars2, axis='index')

cars[:5]

cars.shape

(200, 14)

In [9]:
cars = cars1 + cars2

cars.shape

(200, 14)

In [25]:
# I was wrong but close
cars = cars1.append(cars2)
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
pd.Series(np.random.randint(15000, high=73000))

np.array(np.random.randint(15000, high=73000))

In [14]:
# Rofl, basically had it
# Right club, wrong player

owners = np.random.randint(15000, high=73000, size=398)

owners

array([34617, 36652, 45136, 45504, 41775, 19608, 41776, 53541, 59686,
       21600, 20301, 45594, 39127, 72677, 27673, 28161, 29176, 49973,
       21919, 49413, 55231, 41717, 20487, 24290, 66027, 15541, 27716,
       40146, 54152, 49270, 44212, 35764, 17171, 28549, 61678, 22075,
       48741, 29507, 35185, 37349, 66859, 58396, 51079, 22401, 26505,
       54391, 50014, 53901, 32037, 51047, 72795, 49491, 25149, 67326,
       59396, 27982, 54787, 32114, 68778, 39099, 29845, 71371, 29804,
       71897, 46685, 30333, 41065, 57377, 49370, 29368, 53085, 68764,
       19640, 54771, 66201, 42197, 32497, 50052, 37534, 60898, 65055,
       44426, 59339, 46028, 57493, 63375, 28365, 37176, 28339, 29871,
       54723, 37709, 35147, 45111, 63876, 21981, 26652, 43279, 60636,
       58249, 28426, 28205, 34158, 44941, 35912, 28446, 42775, 48168,
       39376, 64415, 30281, 66304, 21936, 56799, 17298, 20102, 45489,
       60909, 29423, 42414, 55478, 16452, 62196, 41690, 46431, 32583,
       42087, 30682, 23719, 41109, 17101, 67864, 38559, 34848, 34776,
       70164, 53374, 38659, 66161, 15305, 62440, 37196, 25050, 67364,
       30252, 70122, 32554, 15298, 67264, 70653, 44186, 42685, 17464,
       38613, 54528, 49604, 63863, 51738, 66491, 48588, 20449, 49203,
       32468, 56931, 42224, 50612, 26123, 69182, 25640, 31423, 24615,
       50246, 21311, 28120, 54126, 43871, 28553, 20436, 38034, 61772,
       16945, 43594, 29365, 51873, 64240, 54171, 33682, 17868, 34442,
       21642, 24008, 35816, 63372, 52587, 40022, 69184, 46104, 21189,
       29946, 31018, 16027, 25795, 25895, 29803, 39921, 65729, 29336,
       48733, 40194, 58687, 21973, 64136, 46438, 19765, 45078, 60043,
       62029, 51209, 64805, 47292, 72554, 24551, 32585, 64153, 70140,
       18499, 42591, 42087, 58502, 46051, 59615, 49574, 53776, 61772,
       60252, 68968, 17285, 50992, 49627, 29509, 42394, 23630, 34408,
       16705, 17147, 61516, 65920, 20530, 32607, 72589, 52448, 47322,
       21895, 37552, 30397, 40462, 44573, 45576, 55103, 48432, 39719,
       35324, 58747, 59463, 50012, 39409, 25400, 37961, 53056, 19099,
       28955, 29454, 55512, 23088, 36762, 43510, 66802, 21822, 39793,
       36934, 45225, 50119, 65653, 30002, 32896, 40877, 30534, 18149,
       49360, 50728, 66365, 51856, 70936, 63415, 71600, 25058, 26642,
       59072, 23479, 71255, 62847, 35473, 48062, 39456, 54638, 29802,
       35804, 59295, 44085, 56091, 41359, 64192, 37153, 63627, 72379,
       47812, 47814, 30695, 67268, 56555, 69918, 60101, 40358, 24895,
       44267, 65772, 68059, 72975, 24555, 56490, 55302, 59939, 33660,
       50358, 17699, 18611, 57464, 30658, 23207, 66549, 24797, 43120,
       18630, 52736, 39956, 37418, 57885, 59726, 44840, 58212, 25666,
       63089, 40337, 37410, 23606, 62624, 60449, 69450, 62266, 46512,
       44816, 28254, 56333, 38888, 20014, 69152, 61961, 52016, 67852,
       48614, 32440, 53536, 70000, 42807, 54285, 37085, 37003, 41498,
       21525, 40254, 21048, 32100, 54451, 67693, 37611, 47332, 27883,
       55165, 33817, 60620, 67724, 42497, 47991, 70615, 16953, 44051,
       29197, 37051])

### Step 8. Add the column owners to cars

In [29]:
# This was their answer
%timeit cars['owners'] = owners
cars.head()

91 µs ± 2.57 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,34617
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,36652
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,45136
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,45504
4,17.0,8,302,140,3449,10.5,70,1,ford torino,41775

In [30]:
# My answer was way slower
%timeit cars.assign(owners=owners)

285 µs ± 23.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)