# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [16]:
s1 = pd.DataFrame(np.random.randint(low=1, high=4, size=100))
s2 = pd.DataFrame(np.random.randint(low=1, high=3, size=100))
s3 = pd.DataFrame(np.random.randint(low=10000, high=30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [21]:
df = pd.concat([s1, s2, s3], axis=1)

df[:5]

   0  0      0
0  3  1  26685
1  2  2  10114
2  2  1  17849
3  2  2  25687
4  2  2  16287

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [32]:
%timeit df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

df.columns

# Or? Whih is better?

%timeit df.rename(columns={0: 'bedrsc', 1: 'bathrsc', 2: 'price_sqr_meter'}, inplace=True)
# Way slower, even without inplace. Use the column list assignment approach

62.5 µs ± 106 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
280 µs ± 9.78 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [29]:
df.columns

Index(['bedrs', 'bathrs', 'price_sqr_meter'], dtype='object')

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Ops it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299