# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1 = pd.DataFrame(np.random.randint(low=1, high=4, size=100))
s2 = pd.DataFrame(np.random.randint(low=1, high=3, size=100))
s3 = pd.DataFrame(np.random.randint(low=10000, high=30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df = pd.concat([s1, s2, s3], axis=1)

df[:5]

   0  0      0
0  2  2  20278
1  2  1  13093
2  2  1  24331
3  1  2  25948
4  1  2  29961

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [7]:
%timeit df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

df.columns

# Or? Whih is better?

%timeit df.rename(columns={0: 'bedrsc', 1: 'bathrsc', 2: 'price_sqr_meter'}, inplace=True)
# Way slower, even without inplace. Use the column list assignment approach

61.4 µs ± 593 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
202 µs ± 6.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
df.columns

Index(['bedrs', 'bathrs', 'price_sqr_meter'], dtype='object')

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [16]:
big_column = pd.DataFrame(pd.concat([s1, s2, s3], axis=0))

# Or use the to_frame method if it was a series (I made them DF at the get go)

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [22]:
big_column.info()

big_column.shape[0]

len(big_column)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 1 columns):
0    300 non-null int32
dtypes: int32(1)
memory usage: 3.5 KB

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [24]:
big_column.reset_index(drop=True, inplace=True)
big_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 1 columns):
0    300 non-null int32
dtypes: int32(1)
memory usage: 1.2 KB