# Visualizing Chipotle's Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import collections
import matplotlib.pyplot as plt 

# set this so the graphs open internally
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. Create a histogram of the top 5 items bought

In [8]:
chipo.groupby(by='item_name').mean()
chipo.quantity.sort()

                                          order_id  quantity
item_name
6 Pack Soft Drink                       968.925926  1.018519
Barbacoa Bowl                           817.757576  1.000000
Barbacoa Burrito                        821.076923  1.000000
Barbacoa Crispy Tacos                   510.272727  1.090909
Barbacoa Salad Bowl                     970.800000  1.000000
Barbacoa Soft Tacos                     749.000000  1.000000
Bottled Water                          1086.074074  1.302469
Bowl                                    236.000000  2.000000
Burrito                                 258.333333  1.000000
Canned Soda                             734.576923  1.211538
Canned Soft Drink                      1012.468439  1.166113
Carnitas Bowl                           922.676471  1.044118
Carnitas Burrito                        875.457627  1.016949
Carnitas Crispy Tacos                   838.285714  1.142857
Carnitas Salad                         1500.000000  1.000000
Carnitas Salad Bowl                    1115.500000  1.000000
Carnitas Soft Tacos                     941.825000  1.000000
Chicken Bowl                            983.369146  1.048209
Chicken Burrito                         899.282098  1.068716
Chicken Crispy Tacos                   1008.127660  1.063830
Chicken Salad                          1162.777778  1.000000
Chicken Salad Bowl                     1064.581818  1.118182
Chicken Soft Tacos                      855.608696  1.043478
Chips                                   985.800948  1.090047
Chips and Fresh Tomato Salsa            912.900000  1.181818
Chips and Guacamole                     939.371608  1.056367
Chips and Mild Fresh Tomato Salsa       279.000000  1.000000
Chips and Roasted Chili Corn Salsa      681.772727  1.045455
Chips and Roasted Chili-Corn Salsa      970.111111  1.000000
Chips and Tomatillo Green Chili Salsa   957.441860  1.046512
Chips and Tomatillo Red Chili Salsa     949.083333  1.041667
Chips and Tomatillo-Green Chili Salsa   704.064516  1.064516
Chips and Tomatillo-Red Chili Salsa     917.200000  1.250000
Crispy Tacos                            217.000000  1.000000
Izze                                    529.350000  1.000000
Nantucket Nectar                        807.925926  1.074074
Salad                                   575.000000  1.000000
Side of Chips                           839.297030  1.089109
Steak Bowl                              918.255924  1.047393
Steak Burrito                           892.491848  1.048913
Steak Crispy Tacos                     1023.371429  1.028571
Steak Salad                             590.500000  1.000000
Steak Salad Bowl                       1020.344828  1.068966
Steak Soft Tacos                        912.309091  1.018182
Veggie Bowl                             850.235294  1.023529
Veggie Burrito                          852.231579  1.021053
Veggie Crispy Tacos                     668.000000  1.000000
Veggie Salad                           1210.833333  1.000000
Veggie Salad Bowl                       961.277778  1.000000
Veggie Soft Tacos                       788.571429  1.142857

### Step 6. Create a scatterplot with the number of items orderered per order price
#### Hint: Price should be in the X-axis and Items ordered in the Y-axis

### Step 7. BONUS: Create a question and a graph to answer your own question.